 .parent {
  line-height: 1.2;
  
 }


 #headshot {
  width: 550;
float: right;
 
 margin-right: 13.2%;
 margin-top: 200px;
 margin-bottom: -100;

 
}


@media (max-width: 1400px) {
  #headshot {
    margin: 0 auto;
    float: none;
    display: flex;
    margin-top: 200;
    width: 600;
    
  }
}


@media (max-width: 1400px) {
  .caption   {
 min-width: 90%;
  
  }
}

@media (max-width: 1400px) {
  .name   {
margin-top: -200px;
  }
}

.name {
  font-weight: bold;
  display: flex;
  font-size: 80px;
  justify-content: flex-start; /* Align items to the left */
  padding-left: 13%;
  padding-top: 300;
   
  
  
}

.kevin {
  background: linear-gradient(270deg, #00fff0, #ff00f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  
}


.caption {
    font-size: 120%; /* Font size for the caption */
    color: #898989; /* Medium gray text color for contrast */
 
    max-width: 45%;/* Ensure the text does not exceed 80% of the container's width */
    line-height: 1.5; /* Improve readability with line spacing */
    padding-left: 13%;
    margin-top: 40;
 
    
    
}

 .roles{
  font-weight: bold;
  display: flex;
  font-size: 40px;
  justify-content: flex-start; /* Align items to the left */
  padding-left: 13%;
  
 }

.roles span{
  background: linear-gradient(270deg, #00fff0, #ff00f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  


}


.roles span{
position: relative;
}

.roles span::before {
  content: "Web Developer";
  color: linear-gradient(270deg, #00fff0, #ff00f5);
  animation: words 20s infinite;
}

.roles span::after{
  content: "";
  background-color: linear-gradient(270deg, #00fff0, #ff00f5);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid linear-gradient(270deg, #00fff0, #ff00f5);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps (14) infinite;
}

@keyframes cursor{
  to {
    border-left: 2px solid linear-gradient(270deg, #00fff0, #ff00f5);
  }
}

@keyframes words {
  0%,
  20%{
    content: "Full-Stack Developer";

  }
  21%,
  40%{
    content: "Web Developer" ;
  }
  41%,
  60%{
    content: "Mobile Developer";
  }
  61%,
  80%{
content: "Web Designer";
  }
  81%,
  100% {
    content: "Game Developer";
  }
}

@keyframes typing{
  10%, 
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%{
    width: calc(100%+8px)
  }
}

.connect button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 13%;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
      margin-top: 4%;
     
  }
  .connect button span {
    z-index: 1;
  }
  .connect button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background: linear-gradient(40deg, #00fff0, #ff00f5);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .connect button:hover {
    color: #121212;
  }
 
  
  .connect button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    
}



